.card-container{
      width: 98%;
      height: auto;
      display: flex;
      align-items: start;
      column-gap: 20px;
      justify-content: center;
      overflow: hidden;
      flex-wrap: wrap;
      margin: 0;
}
.Card-content{
      width: auto;
      height: auto;
      display: flex;
      margin-bottom: 20px;
     
}
@media (max-width:660px) {
      .Card-content{
            width: 100%;
            
      }
}